:root {
    --bg-botao: #F0F0F0;
    --bg-botao-active: #CCC;
    --bg-botao-operacao: #F83;
    --bg-botao-operacao-active: rgba(255, 136, 51, 0.6);
    --border-botao: 1px solid #888;
}

.Botao {
    border: none;
    border-right: var(--border-botao);
    border-bottom: var(--border-botao);
    font-size: 1.4rem;
    background-color: var(--bg-botao);
    outline: none;
}

.Botao:active {
    background-color: var(--bg-botao-active);
}

.Botao.operacao {
    color: #FFF;
    background-color: var(--bg-botao-operacao);
}

.Botao.operacao:active {
    background-color: var(--bg-botao-operacao-active);
}

.Botao.triplo {
    grid-column: span 3;
}

.Botao.duplo {
    grid-column: span 2;
}